# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
.temp/
dist/

# dependencies
node_modules/
yarn.*

# IDEs and editors
.idea/

# build tools
coverage/

# misc
npm-debug.log
