################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.js
*.d.ts
*.metadata.json
/bundles
!/config/*.js
/coverage
/node_modules
/obj/Debug
!gulpfile.js
!karma.conf.js
nglibs.meta.csproj
nglibs.meta.csproj.user
npm-debug.log
