#dev stuff
*.ts
!*.d.ts
/.github
/.idea
/config
/coverage
/node_modules
/obj/Debug
.bithoundrc
.gitignore
.gitattributes
.npmignore
.travis.yml
appveyor.yml
gulpfile.js
karma.conf.js
nglibs.meta.csproj
nglibs.meta.csproj.user
npm-debug.log
tsconfig.json
tslint.json
