# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

# compiled output
*.ts
!*.d.ts

# dependencies
/node_modules

# IDEs and editors
/.idea

# build tools
/config
.gitignore
.gitattributes
.npmignore
gulpfile.js
karma.conf.js
tsconfig.json

# ci tools
.bithoundrc
.travis.yml
appveyor.yml

# misc
/.github
/coverage
npm-debug.log
tslint.json
